.grid {
    margin:1em auto; border-collapse:collapse;
    border:1px solid #ccc;
}
.grid td {
    cursor:pointer;
    width:10px;
    height:10px;
    /*border:1px solid #ccc;*/
}

#line{
    margin: 6px 6px 6px 0px;
}
